{% load static %}
<html lang='pl'>
    <head>
        <title>MotoSELL - nowe i używane samochody</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="MotoSELL - nowe i używane samochody" />
        <meta name="keywords" content="motosell, nowy, używany, samochód, samochody, osobowy, ciężarowy, motocykl," />
        <meta name="author" content="Grzegorz Giedrojć" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/motosellapp.css' %}">
    </head>
    <body>
      <div class="page-header d-flex justify-content-between">


          <h1 ><a href="/">MotoSELL</a></h1>
          <nav>
            <ul class="row">
              <li class="list-group-item">
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
              </li>
              <li class="list-group-item">
                <form class="login-link" action="{% url 'accounts:login' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Login</button>
                </form>
              </li>
              <li class="list-group-item">
                <form class="signup-link" action="{% url 'accounts:signup' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Sign up</button>
                </form>
              </li>
              <li class="list-group-item">
                <form action="/post/my_posts/" method="post">
                  {% csrf_token %}
                  <button type="submit">My posts</button>
                </form>
              </li>
            </ul>
          </nav>

          <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">+</span></a>
      </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
