{% extends 'motosellapp/base.html' %}

{% block content %}
    <div class="post">
      {% for post in posts %}
        <div class="row justify-content-between">
          <div class="col-4">
            <h1>{{post.tytul}}</h1>
          </div>
          <div class="col-3">
            <a class="btn btn-primary " href="{% url 'update_post'   pk=post.pk %}">Edycja</a>
          </div>
        </div>
        <div class="container_100">
          <div class="pic_my_post">
            <img src="{{post.zdjecie.url}}" class="img-fluid rounded" alt= "zdjecie samochodu"/>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-justify">{{post.opis}}</li>
          <li class="list-group-item">Kategoria: {{ post.kategoria }}</li>
          <li class="list-group-item">Marka: {{ post.marka }}</li>
          <li class="list-group-item">Model: {{ post.model }}</li>
          <li class="list-group-item">Rok produkcji: {{ post.rok_produkcji }}</li>
          <li class="list-group-item">Przebieg: {{ post.przebieg }} km</li>
          <li class="list-group-item">Pojemność skokowa: {{ post.pojemnosc_skokowa }} cm3</li>
          <li class="list-group-item">Rodzaj paliwa: {{ post.rodzaj_paliwa }}</li>
          <li class="list-group-item">Kontakt: {{ post.koszt}} zł</li>
          <li class="list-group-item">Kontakt: {{ post.kontakt }}</li>
          <li class="list-group-item">{{ post.status }}</li>
        </ul>
    {% endfor %}
    </div>
{% endblock %}
