{% extends 'motosellapp/base.html' %}

{% block content %}
    {% for post in posts %}
      {% if request.uzytkownik==post.uzytkownik %}
        uzytkownik : {{post.uzytkownik}}
        <p>{{ post.opis}}</p>
        <p>{{ post.kategoria }}</p>
        <p>{{ post.marka }}</p>
        <p>{{ post.model }}</p>
        <p>{{ post.rok_produkcji }}</p>
        <p>{{ post.przebieg }}</p>
        <p>{{ post.pojemnosc_skokowa }}</p>
        <p>{{ post.rodzaj_paliwa }}</p>
        <p>{{ post.uzytkownik }}</p>
        <img src={{ post.zdjecie.url}}/>
      {% endif %}
    {% endfor %}
{% endblock %}
