{% extends 'motosellapp/base.html' %}

{% block content %}
    <div class="post">
        {% if post.data_publikacji %}
            <div class="date">
                {{ post.data_publikacji }}
            </div>
        {% endif %}

        <h1>{{ post.tytul }}</h1>
          <div class="pic_detail">
            <img src="{{post.zdjecie.url}}" alt= "zdjecie samochodu"/>
          </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ post.opis}}</li>
        <li class="list-group-item">Kategoria: {{ post.kategoria }}</li>
        <li class="list-group-item">Marka: {{ post.marka }}</li>
        <li class="list-group-item">Model: {{ post.model }}</li>
        <li class="list-group-item">Rok produkcji: {{ post.rok_produkcji }}</li>
        <li class="list-group-item">Przebieg: {{ post.przebieg }}</li>
        <li class="list-group-item">Pojemność skokowa: {{ post.pojemnosc_skokowa }}</li>
        <li class="list-group-item">Rodzaj paliwa: {{ post.rodzaj_paliwa }}</li>
        <li class="list-group-item">Kontakt: {{ post.koszt}}</li>
        <li class="list-group-item">Kontakt: {{ post.kontakt }}</li>
        <li class="list-group-item">{{ post.status }}</li>
      </ul>
      <br><br>
{% endblock %}
