{% extends 'motosellapp/base.html' %}

{% block content %}
    <div class="post">
        {% if post.data_publikacji %}
            <div class="date">
                {{ post.data_publikacji }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.tytul }}</h1>
        <p>{{ post.opis|linebreaksbr }}</p>
        <p>{{ post.kategoria }}</p>
        <p>{{ post.marka }}</p>
        <p>{{ post.model }}</p>
        <p>{{ post.rok_produkcji }}</p>
        <p>{{ post.przebieg }}</p>
        <p>{{ post.pojemnosc_skokowa }}</p>
        <p>{{ post.rodzaj_paliwa }}</p>
        <p>{{ post.uzytkownik }}</p>
        <p>{{ post.zdjecie }}</p>
        <p>{{ post.data_dodania }}</p>
        <p>{{ post.data_publikacji }}</p>
    </div>
{% endblock %}
