html, body{
  height: 100%;
}

footer{
  background-color: #ededed;
  position: relative;
  height: 70px;
  width: 100%;
  margin-top: -70px;
  clear: both;
}

nav{
  background-color: #ededed;
}

a{
  color:black;
}

a:hover{
  color: black;
  font-size: 30px;
  text-decoration:none;
}

.post{
  border-left: 6px solid #0366fc;
  border-radius: 6px;
  padding: 20px;
  margin: 10px;
}

.btn-blue{
  font-weight: 600;
  background-color: #0366fc;
  margin: 20 1 1 1;
}

.btn-blue:hover{
  color: #000000;
  transform: scale(1.01);
  background-color: #0341fc;
      -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
}

.container{
  min-height: 100%;
}

.content{
  overflow: auto;
  padding-bottom: 70px;
}

.container_100{
  width: 100%;
}

.pic_detail{
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
}

.pic_my_post{
  max-width: 500px;
  margin: 0 auto;
}

.img-fluid{
  min-height: 210px;
  object-fit: cover;
}

.list_opis{
  display: block;
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  max-height: 5.4em;
  line-height: 1.8em;
  text-align: justify;
}

.navbar-brand{
  padding: 10px;
  background-color: #dedede;
  border-radius: 10px;
  /*transition: transform .2s;*/
}

.navbar-brand:hover{
  background-color: #c4c4c4;
      -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
}
