html, body{
  height: 100%;
}

footer{
  background-color: #ededed;
  position: relative;
  height: 70px;
  width: 100%;
  margin-top: -70px;
  clear: both;
}

nav{
  background-color: #ededed;
}

a{
  color:black;
}

a:hover{
  color: black;
  text-decoration:none;
}

.post{
  border-left: 6px solid #0366fc;
  border-radius: 6px;
  padding: 20px;
}

a.opis_lista{
  color:#00001a;
}

a.opis_lista:hover{
  color:#00004d;
}

.border_right{
  border-right: 1px solid grey;
}

.btn-grey{
  background-color: #ededed;
  height: 100%;
  border-radius: 0px;
}

.btn-grey:hover{
  background-color: #a6a6a6;
      -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
}

.container{
  min-height: 100%;
}

.content{
  overflow: auto;
  padding-bottom: 70px;
}

.container_100{
  width: 100%;
}

.pic_detail{
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

.pic_my_post{
  max-width: 900px;
  margin: 0 auto;
}

.img-fluid{
  min-height: 270px;
  object-fit: cover;
}

.list_opis{
  display: block;
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  max-height: 5.4em;
  line-height: 1.8em;
  text-align: justify;
}

.navbar-brand{
  padding: 10px;
  border-radius: 10px;
}

.navbar-brand:hover{
  background-color: #c4c4c4;
      -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
}

/*LOGOWANIE*/

.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}
